
<div class="profile-header-wrapper">
  <div class="container profile-header-container text-center">
    <div class="profile-header-infos">
      <div class ="profile.avatar">
        <%= image_tag current_user.photo_url, class: "avatar-bordered" %>
        <h1><%= current_user.username.capitalize %></h1>
        <h2></h2>
      </div>
    </div>
    <div class="tabs">
      <a class="tab active" data-target="#votes">
        <h3>Upvotes</h3>
      </a>
      <a class="tab" data-target="#comments">
        <h3>Comments</h3>
      </a>
      <a class="tab" data-target="#tracks">
        <h3>Tracks</h3>
      </a>
    </div>
  </div>
</div>

<div class="container text-center">
  <div class="tab-content" id="votes">
  <%= render "upvote_card" %>
  </div>

  <div class="tab-content hidden" id="comments">
    <h4>Comments</h4>
    <% @current_user.comments.each do |comment| %>
    <li>
      <%= "On " + "#{comment.track.name}" + " you commented: " + "#{comment.content}" %>
    </li>
    <% end %>
  </div>




  <div class="tab-content hidden" id="tracks">
    <%= render "own_tracks_card" %>
 </div>
