
<div class="profile-header-wrapper">

  <div class="container profile-header-container text-center">
    <div class="profile-header-infos">

      <div class ="profile.avatar">
        <%= image_tag "trump.jpeg", class:"avatar-bordered" %>
        <h1><%= current_user.username.capitalize %></h1>
      </div>
      <h2></h2>
    </div>
    <div class="tabs">
      <a class="tab active" data-target="#bio">
        <h3>Upvotes</h3>
      </a>
      <a class="tab" data-target="#projects">
        <h3>Comments</h3>
      </a>
      <a class="tab" data-target="#contact">
        <h3>Tracks</h3>
      </a>
    </div>
  </div>
</div>


<div class="container text-center">
  <div class="tab-content" id="bio">
    <h4> Upvotes </h4>
    <!-- TODO : Link to profile page of the track -->
  </div>
  <div class="tab-content hidden" id="projects">
    <p>List of your Comments on Tracks.</p>
    <!-- TODO : Link to comments page of the track -->
  </div>
  <br>
  <div class="tab-content hidden" id="contact">
   <button type="button" class="btn btn-secondary"><%= link_to 'Add a new track', new_track_path%></button>
   <br>
   <br>
   <p>Tracks uploaded by you.</p>

   <% current_user.tracks.each do |track| %>
    <% if track.soundcloud_permalink_url != nil %>
      <script src="<%= track.soundcloud_permalink_url %>"></script>
      <div class="player">
        <span class='info'></span>
        <div class="waveform"></div>
        <div class="position"></div>
      </div>
      <iframe class="sc-widget" src=<%= "//w.soundcloud.com/player/?url=#{track.soundcloud_permalink_url}" %>>
      </iframe>
    <% end %>
  <% end %>
</div>
</div>


