<div class= "container form">
  <div class= "row well text-center">  
  <div class = "hot-tracks">
  <h1>Hot tracks</h1></div>
   <% @tracks.each do |track| %>
   <h2><%= track.user.username %></h2>
   <h2><%= link_to track.name, track_path(track) %></h2>
   <h2><%= track.version %></h2>
   <h2><%= track.genre %></h2>
   <%= pluralize(track.votes.count, "vote") %>
   <div class="vote-buttons">
      <%= button_to '-1', downvote_track_path(track), method: :patch, class: "btn-vote-down" %>
      <%= button_to '+1', upvote_track_path(track), method: :patch, class: "btn-vote-up" %>
   </div>
  
   <% end %>
 </div>
</div>
