<%= render 'shared/collapse' %>
<header id="top" class="header">
  <div class="header-content text-center">
    <div class="padded"></div>
    <div class="test">
      <div class="tagline">Just tracks. No bullshit.</div>
      <div class="learnmore">
      <a href="#Bar" data-toggle="collapse">
          Learn more!
        </a>
      </div>
    </div>
  </div>
</header>

<div class="tabs-home" id="music-tabs">
  <!-- organizes the tabs-->
  <div class="tab-home">
    <%= link_to root_path, class: (tab == "hot" ? 'active' : '') do %>
    Hot
    <% end %>
  </div>
  <!-- calls the trending view page -->
  <div class="tab-home">
    <%= link_to trending_tracks_path, class: (tab == "trending" ? 'active' : '') do %>
    Trending
    <% end %>
  </div>
  <!-- calls the fresh view page -->
  <div class="tab-home">
    <%= link_to fresh_tracks_path, class: (tab == "fresh" ? 'active' : '') do %>
    Fresh
    <% end %>
  </div>
</div>


<!-- displays hot tracks per default -->
<!-- trending and fresh tracks are 2 other routes, they have their own view -->
<div class="tab-content" id="hot">
  <div class="container track-item-container js-tracks">
    <%= render 'tracks/tracks', tracks: @tracks %>
  </div>
  <div class='pagination-helper' data-page="2" data-max-page="<%= @tracks.num_pages %>" data-tab="<%= tab %>">

    Loading more stuff
  </div>
</div>
</div>






