<div class= "container form">
  <div class= "row well text-center">  
  <h1>Hot tracks</h1>

   <% @tracks.each do |track| %>
   <h2><%= track.user.username %></h2>
   <h2><%= link_to track.name, track_path(track) %></h2>
   <h2><%= track.version %></h2>
   <h2><%= track.genre %></h2>
   <td><%= pluralize(track.votes.count, "vote") %></td>
   <td><%= button_to '+1', upvote_track_path(track), method: :patch %></td>
   <% end %>
 </div>
</div>
