<% user = User.find_by_id(track.user_id) %>
<% photo = user.photo_url %>


<div class="product" data-track-id="<%= track.id %>">
  <div class='product-upvote'>
    <%= render 'tracks/track_upvote', track: track %>
  </div>
 

  <div class='product-body'>
   <h5><%= link_to track.name, detail_track_path(track), remote: true %></h5>
     <p><%= track.genre %></p>
  </div>
  <div class='product-version'>
   <bold><%= track.version %></bold>
  </div>
  <div class='product-comment'>
    <%= pluralize track.comments.size, "comment" %>
  </div>
  <div class='product-image'>
    <%=link_to tracker_path(track.user_id) do %>
      <%= image_tag photo, class: "avatar-large" %>
    <% end %>
  </div>
</div>
