<div class="banner_upload">

<div class="banner-content text-center"></div>
<div class= "container form padded">
  <div class= "row">
    <h1>Hey <%= @current_user.username.capitalize %>. Upload your Track</h1>

    <%= simple_form_for @track, html: { multipart: true } do |f| %>
    <%= f.input :name %>
    <%= f.input :version %> <!-- input for version is using enumerize, see track model -->
    <%= f.input :genre %>
    <%= file_field_tag :file %>
    <%= f.button :submit %>
    <% end %>
  </div>
</div>
</div>
