<div class= "container form">
  <div class= "row well">  
    <h1>Create your track here</h1>

    <%= simple_form_for @track do |f| %>
    <%= f.input :name %>
    <%= f.input :version %> <!-- input for version is using enumerize, see track model -->
    <%= f.input :genre %>

    <%= f.button :submit %>

    <% end %>
  </div>
</div>
