<div class="banner_track">
  <div class="banner-content">
    <div class="row comments">

      <div class="col-lg-12 text-center">
        <h1><%= @track.name %></h1>
        <%= pluralize @track.comments.size, "Comment" %>

        <div id="comments">
          <% if @track.comments.blank? %>
          Be the first to leave a comment for <%= @track.name %> by <%= @track.user.username %>
          <% else %>
          <% @track.comments.each do |comment| %>
          <%= render 'comments/show', comment: comment %>
          <% end %>
          <% end %>

        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="how-it-works-bucket">
       <%= render 'comments/form', track: @track, comment: @comment %>
     </div>
    </div>
    </div>
    </div>
