<div id="btn">
  <div id='top'></div>
  <div id='middle'></div>
  <div id='bottom'></div>
</div>
<div id="box">
  <div id="items">



    <% if user_signed_in? %>
    <div class="item">
     <%= link_to "/tracks/new" do %>
     <%= t ".profile", default: "Upload" %>
     <%end%>
   </div>
   <% end %>

   <div class="item">
    <%= link_to "/" do %>
    <%= t ".profile", default: "Home" %>
    <% end %>
  </div>

  <% if user_signed_in? %>
  <div class="item">

   <%= link_to "/profile" do %>


   <%= t ".profile", default: "Profile" %>
   <% end %>
 </div>
 <% end %>

 <div class="item">
  <% if user_signed_in? %>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>

  <% else %>
  <i class="fa fa-lock"></i>
  <%= link_to('Login', "/soundcloud/auth", "data-toggle" => "modal")  %>
  <% end %>
</div>
</div>
</div>
</div>
