<div id="btn">
  <div id='top'></div>
  <div id='middle'></div>
  <div id='bottom'></div>
</div>
<div id="box">
  <div id="items">
   <div class="item">
     <%= link_to "/" do %>
     <i class="fa fa-play"></i>  
     <%= t ".profile", default: "Home" %>
     <% end %>
   </div>
  
    <% if user_signed_in? %>
      <div class="item">
   <%= link_to "/tracks/new" do %>
        <i class="fa fa-globe"></i>  
        <%= t ".profile", default: "Track-it" %>
    <%end%>
    </div>
    <% end %>

   <% if user_signed_in? %>
   <div class="item">             

     <%= link_to "/profile" do %>
     <i class="fa fa-tree"></i>


     <%= t ".profile", default: "Profile" %>
     <% end %>
   </div>
   <% end %>

   <div class="item"> 
    <% if user_signed_in? %>
    <i class="fa fa-times"></i>  
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> 
         
    <% else %>
      <i class="fa fa-lock"></i>
      <%= link_to('Login', "#", "data-toggle" => "modal", "data-target" => "#user-signin")  %>  
    <% end %>
  </div>
</div>
</div>
</div>