<div class= "container product-container">
  <h3 class="readme-header">Hot tracks</h3>
  <% @tracks.each do |track| %>
  <div class="product">
    <div class='product-upvote'>
      <div class="product-arrow"></div>
      <%= button_to '+1', upvote_track_path(track), method: :patch, class: "product-arrow" %>
      <%= (track.votes.count) %>
    </div>
    <!-- TODO: Add photo off track -->
   <%= image_path '' , class: "product-image hidden-xs"%>
    <div class='product-body'>
     <h5>
       <%= link_to track.name, track_path(track) %></h5>

       <p><%= track.genre %></p>
       <small><%= track.version %></small>
     </div>
     <ul class="list-inline product-controls product-controls-hidden hidden-sm hidden-xs">
      
      <%=link_to track.user.username, profile_path %>
  </ul>
</div>
<% end %>
</div>