<div class= "container track-item-container">
  <h4> Upvotes </h4>
  <!-- TODO : Link to profile page of the track -->
  <% trackz = [] %>
  <% @tracker.votes.each do |vote| %>
  <% trackz << Track.find_by_id(vote.track_id) %>
  <% end %>

  <% trackz.each do |track| %>
  <% if track.soundcloud_permalink_url != nil %>
  <div class="track-item">
    <div class='track-item-upvote'>
      <%= render 'tracks/track_upvote', track: track %>
    </div>
    <%= image_path '' , class: "track-item-image hidden-xs"%>
    <div class='track-item-body'>
     <h5><%= link_to track.name, track_path(track) %></h5>
     <p><%= track.genre %></p>
     <small><%= track.version %></small>
     <p class="track-comment-size"><%= pluralize track.comments.size, "comment" %></p>
   </div>
   <div class="track-item-player" style='    margin-left: 30px;'>
     <iframe id="soundcloud_player"src=<%= "//w.soundcloud.com/player/?url=#{track.soundcloud_permalink_url}&show_artwork=true&liking=false&sharing=false&auto_play=false"%> 
       style= 
       width="400"
       height="100"
       frameborder="no"
       padding="0px"
       ></iframe>
     </div>
   </div>
   <% end %>
   <% end %>
 </div>