
<div class="profile-header-wrapper">
  <div class="container profile-header-container text-center">
    <div class="profile-header-infos">
      <!-- <img src="trump.jpeg" alt=""> -->
      <%= cl_image_tag "trump_d2iwhc.jpg", class:"avatar-bordered" %>
      <h1><%= @tracker.username.capitalize %></h1>
      <h2></h2>
    </div>
    <div class="tabs">
      <a class="tab active" data-target="#votes">
        <h3>Upvotes</h3>
      </a>
      <a class="tab" data-target="#comments">
        <h3>Comments</h3>
      </a>
      <a class="tab" data-target="#tracks">
        <h3>Tracks</h3>
      </a>
    </div>
  </div>
</div>

<div class="container text-center">
  <div class="tab-content" id="votes">
    <p>List of upvoted Tracks.</p>
  </div>


  <div class="tab-content hidden" id="comments">
    <p>List of Comments on Tracks.</p>


    <% tracks = [] %>
    <% counter = 0 %>
    <% @tracker.comments.each do |comment| %>

    <% tracks << Track.find_by_id(comment.track_id) %>

    <div class="card" style="background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.2));">
      <div class="card-category"></div>
      <div class="card-description">
        <h2><%= link_to tracks[counter].name.upcase, track_path(tracks[counter]) , class: "card-link" %></h2>
        <p><%= "#{comment.content}" %></p>
      </div>
      <!-- <a class="card-link" href="#" ></a> -->
    </div>



    <% counter += 1 %>
    <% end %>
  </div>


  <div class="tab-content hidden" id="tracks">
    <p>Public page with tracks uploaded by this person.</p>

    <% @tracker.tracks.each do |track| %>
    <% if track.soundcloud_permalink_url != nil %>
    <script src="<%= track.soundcloud_permalink_url %>"></script>
    <div class="player">
      <span class='info'></span>
      <div class="waveform"></div>
      <div class="position"></div>
    </div>
    <iframe class="sc-widget" src=<%= "//w.soundcloud.com/player/?url=#{track.soundcloud_permalink_url}" %>>
    </iframe>
    <% end %>
    <% end %>

  </div>
</div>

