
<div class="profile-header-wrapper">
  <div class="container profile-header-container text-center">
    <div class="profile-header-infos">
      <%= image_tag @tracker.photo_url, class: "avatar-bordered" %>
      <h1><%= @tracker.username.capitalize %></h1>
      <h2></h2>
    </div>
    <div class="tabs">
      <a class="tab active" data-target="#votes">
        <h3>Upvotes</h3>`
      </a>
      <a class="tab" data-target="#comments">
        <h3>Comments</h3>
      </a>
      <a class="tab" data-target="#tracks">
        <h3>Tracks</h3>
      </a>
    </div>
  </div>
</div>


<div class="container text-center">
  <!-- Section Upvotes -->
  <div class="tab-content" id="votes">
    <%= render "tracker_upvote_method" %>
  </div>


  <div class="tab-content hidden" id="comments">
    <%= render "tracker_comments_method" %>
  </div>

  <!-- section tracks -->
  <div class="tab-content hidden" id="tracks">
    <%= render "tracker_tracks_method" %>
  </div>
</div>