<!DOCTYPE html>
<html>
    <%= csrf_meta_tags %>
    <%= render 'shared/head'  %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  <body>
    <%= render 'shared/flashes' %>
    <%= render 'shared/sidebar' %> 
    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
